{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1,"
    />
   	<meta name="description" content="{%block desc%}{%endblock desc%}"/>
 	<meta name="keywords" content = "{%block kwords%}{%endblock kwords%}"/>
    <title>MyBlog{% block title %}{% endblock title %}</title>
    <base href="/">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/css/fontello.css' %}" rel="stylesheet">
    

</head>
<body>
<header>
    <nav>
    <a class="logo" href="/">HarcBlog</a>

        <ul class="nav-ul">
            <li class="nav-element"><a href="#"class="nav-link">Option 1</a></li>
            <li class="nav-element"><a href="#"class="nav-link">Option 2</a></li>
            <li class="nav-element"><a href="#"class="nav-link">Option 1</a></li>
            <li class="nav-element"><a href="#"class="nav-link">Option 2</a></li>
            <li class="nav-element"><a href="#"class="nav-link">Option 1</a></li>
            <li class="nav-element"><a href="{% url "blog:post_search" %}"class="nav-link">Szukaj <i class="fa fa-search"></i></a></li>
            
            </ul>
<div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>



</nav>
</header>


    {% block content %} {% endblock content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/monokai-sublime.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
