
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
